# Banco de Dados Neon (PostgreSQL)
DATABASE_URL=postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require

# Discord Bot (Opcional)
DISCORD_TOKEN=seu_token_aqui
SERVER_ID=id_do_servidor
CATEGORY_ID=id_da_categoria

# Email IMAP (Opcional)
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app_de_16_digitos
IMAP_SERVER=imap.gmail.com

# Outros
THREAD_MESSAGE=
THREAD_IMAGE=
